@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    max-width: 1366px;
    margin: auto;
    background-color: #D7D4FF;

}
header{
    width: 90%;
    margin: auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.esquerda h1{
    color: #2B2B2B;
    font-size: 36px;
    font-family: 'Merriweather', serif;
}
.esquerda p{
    color: #555555;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 30px 0;
}
.direita{
    width: 35%;
}
.direita img{
    width: 100%;

    animation: mexer;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes mexer{
    0%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(20px);
    }
}


button{
    border: none;
    font-family: 'Lato', sans-serif;
    color: #ffff;
    padding: 10px 40px;
    background-color: #6C63FF;
    font-size: 20px;
    border-radius: 5px;
}


.corpo{
    max-width: 1366px;
    margin: auto;
}
.lista{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lista li{
    width: 24%;
    margin: 30px 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.301);
    background-color: #ffff;

    transition: .3s;
    cursor: pointer;
}
.lista li:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-filter: drop-shadow(1px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,.5));
}
.descricao{
    padding: 24px;
}

.box{
    width: 100%;
    height: 222px;
}
.a{
    background-color: #FF6363;
}

.b{
    background-color: #63ECFF;
}
.c{
    background-color: #F363FF;
}
.d{
    background-color: #63FF73;
}
.e{
    background-color: #FFDD63;
}
.f{
    background-color: #6663FF;
}


.contato{
    max-width: 1366px;
    margin: auto;
    background-color: #D7D4FF;
    padding-bottom: 55px;
}
.contato h1{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 30px;

    padding: 50px;
}
.inputs{
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
}
input{
    font-family: 'Lato', sans-serif;
    color: #6E7275BD;

    border: none;
    margin: 7px 0;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
}
textarea{
    font-family: 'Lato', sans-serif;
    color: #6E7275BD;

    border: none;
    margin: 7px 0 15px 0;
    font-size: 18px;
    border-radius: 5px;
    padding: 20px 15px;
}

@media screen and (max-width: 767px) {
    header{
        flex-direction: column;
    }
    header div{
        width: 90%;
    }
    .direita{
        width: 80%;
        margin-top: 20px;
    }
    


    .lista li{
        width: 100%;
        margin: 25px;
    }
    .inputs{
        width: 90%;
    }
}