@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    scroll-behavior: smooth;
}

.corpo{
    max-width: 1366px;
    margin: auto;
}
header{
    background-color: #F7C7B9;
    display: flex;
    justify-content: space-around;
    max-width: 1366px;
    margin: auto;
    color: #DA2535;
    padding: 20px 0;

    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
}
.imagem{
    margin-right: 10px;
    -webkit-filter: drop-shadow(1px 5px 5px rgba(0,0,0,.5));
    filter: drop-shadow(1px 5px 5px rgba(0,0,0,.5));

}
.navegacao{
    display: flex;
    list-style-type: none;
    margin-top: 8px;

}
.navegacao li{
    padding: 20px;
    font-weight: bold;

    transition: .4s;
}
.navegacao li:hover{
    background-color: #DA2535;
    color: #ffff;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.inicio{
    background-color: #F7C7B9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;

}
.inicio div{
    width: 35%;
}
.esquerda h1{
    font-size: 48px;

}


/* -------------------------------- */
.direita img{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));


    animation: mexer;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes mexer{
    0%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(20px);
    }
}
/* ------------------------------------ */


button{
    display: flex;
    align-items: center;
    font-weight: 600;

    margin-top: 15px;

    background-color: #DA2535;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    color: #ffff;
    font-size: 16px;
    cursor: pointer;

    transition: .2s;
} 
button:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));

}
img{
    margin-right: 10px;
}



.acessorios{
    text-align: center;
    overflow: hidden;

    padding: 60px 0;
}
.acessorios h1{
    color: #161212;
    font-size: 48px;
}
.ac-lista{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 25px;
}
.ac-lista li{
    width: 20%;
    cursor: pointer;

    transition: .5s;
}
.ac-lista li:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));

}


.comemore{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F7C7B9;

    padding: 6  0px 0;
}
.cEsquerda{
    width: 30%;
}

/* ---------------------------- */
.cEsquerda img{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));


    animation: mexer2;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes mexer2{
    0%{
        transform: translatex(-20px);
    }
    100%{
        transform: translatex(20px);
    }
    
}
/* --------------------------------- */

.cDireita{
    width: 40%;
}
.cDireita h1{
    font-size: 48px;
        font-weight: bold;

}
.cDireita h2{
    font-size: 16px;
    color: #404040;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #DA2535;

    padding: 30px 0;
}
.social{
    list-style-type: none;

    display: flex;
}
.social li{
    background-color: #F7C7B9;   
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;

    transition: .5s;
}
.social li:hover{
    border-radius: 50%;
    -webkit-filter: drop-shadow(5px 1px 9px rgba(0,0,0,.5));
    filter: drop-shadow(5px 1px 9px rgba(0,0,0,.5));
    -webkit-transform: rotateZ(-360deg) scale(1.5);
    transform: rotateZ(-360deg) scale(1.5);

}
.social img{
    display: flex;
    margin: auto;

    padding: 10px;
}

/* -------------------------------------------------------- */
/* Animação */

[data-anime] {
    opacity: 0;
    transition: .8s;  
}
[data-anime = "left"] {
    transform: translate3d(-50px, 0, 0);
}
[data-anime = "right"] {
    transform: translate3d(50px, 0, 0);
}
[data-anime = "top"] {
    transform: translate3d(0,-50px, 0);
}
[data-anime = "bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0,0,0);
}


@media screen and (max-width: 767px) {
    header{
        position: fixed;
        width: 100%;
        padding: 0 0;


        box-shadow: 0px 0px 5px black;
        font-weight: bold;
    }
    .corpo{
        overflow: hidden;
    }
    
    #menu{
        margin-top: 13px;        
        cursor: pointer;
    }
    #menu div{
        width: 40px;
        height: 4px;
        background-color: #404040;
        margin: 5px;
        border-radius: 10px;
        transition: .5s;

    }
    .navegacao{
        position: fixed;
        width: 100%;
        left: 0;
        transform: translateX(100%);
        
        background-color: #DA2535;
        color: #ffff;

        flex-direction: column;
    
        transition: 1s;
    }
    .navegacao li:hover{
        background-color: #ffff;
        color: #DA2535;
        border-radius: 0px;

        font-size: 20px;
    }
    .active{
        transform: translateX(0);

    }

     /*Animação do botao de menu*/
     #line1.ativar{
        transform: rotate(-40deg) translate(-5px, 5px);
    }
    #line2.ativar2{
        opacity: 0;
    }
    #line3.ativar3{
        transform: rotate(45deg) translate(-8px, -7px);
    }
    /*----------------------*/


    .inicio{
        margin-top: 48px;
        flex-direction: column-reverse;
    }
    .inicio div{
        width: 90%;
    }
    .ac-lista{
        flex-direction: column;
    }
    .ac-lista li{
        margin: auto;

        width: 90%;
    }

    .comemore{
        flex-direction: column;
        padding: 50px 0;
    }
    .comemore div{
        width: 90%;;
    }
    .cEsquerda{
        
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .cEsquerda img{
        width: 50%;
    }
    footer{
        flex-direction: column;
    }
    .social{
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
}
