@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

*,*:before,*:after{
  box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
:root{
  --tamanho: calc(100% - 60px);
  --tamanho2: calc(100% - 120px);
}
.corpo{
  max-width: 1366px;
  margin: auto;
  overflow: hidden;
}
body{
  background-color: #0C0C0C;
}
html, body{
  height: 100%;
}

header{
  width: var(--tamanho);
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #0C0C0C;
}
#menu-mobile{
  display: none;
}
.navegacao{
  list-style-type: none;
  display: flex;
  font-weight: 500;
  font-size: 18px;
}
.navegacao a{
  color: #C4C4C4;
  text-decoration: none;
}
.navegacao li{
  padding: 20px;

  transition: 0.4s;
}
.navegacao li:hover{
  text-decoration: underline;
  color: #ffff;

  background-color: rgba(54,255,0,0.7035189075630253);
  text-shadow: 0.1em 0.1em 0.2em black;
  border-radius: 50px;
}
header h1{
  color: #00D2DF;
  font-weight: 500;
  font-size: 24px;
}

/* ----------------------------- */

.apresentacao{
  width: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  color: #fff;
}
.apres-left{
  padding-left: 30px;
  z-index: 1;
}
.apres-left h2{
  color: #ffff;
  font-weight: 400;
  font-size: 24px;
}
.apres-left h1{
  color: #00D2DF;
  font-weight: 600;
  font-size: 44px;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black,
        0 0 0.1em #fff
}
.apres-left p{
  font-weight: 400;
  font-size: 20px;
}

.apres-right{
  width: 100%;
}
svg{
  width: 100%;
}

.social{
  list-style-type: none;
  display: flex;
}
.social li{
  display: flex;
  align-items: center;
  justify-content: center;

  transition: .3s;
}
.social a{
  text-decoration: none;
  color: #fff;
}

.primeiro{
  border: 2px solid;
  padding: 8px 29px;
  border-image: linear-gradient(90deg, rgba(54,255,0,0.7035189075630253) 39%, rgba(5,149,230,0.7315301120448179) 100%) 1;
  margin: 30px 30px 0  0;
}
.primeiro:hover{
  box-shadow: 0 0 10px 0 rgba(54,255,0,0.7035189075630253) inset, 0 0 10px 4px rgba(5,149,230,0.7315301120448179);
  transform: scale(1.09);

}
.segundo{
  border: 2px solid;
  border-image: linear-gradient(90deg, rgba(5,149,230,0.6895133053221288) 50%, rgba(54,255,0,0.7819502801120448) 100%) 1;
  margin-top: 30px;

  padding: 8px 37px;
}
.segundo:hover{
  box-shadow: 0 0 10px 0 rgba(5,149,230,0.7315301120448179) inset, 0 0 10px 4px rgba(54,255,0,0.7819502801120448);
  transform: scale(1.09);
}

.social img{
  margin-right: 14px;
}



/* animação */
path{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}
@keyframes dash {
  0% {
      /* stroke-dashoffset: 1000; */
      stroke-dasharray: 1000;
  }
  0%{
      stroke-dasharray: 200;
  }
  
  100%{
      stroke-dasharray: 0;
  }
  100%{
      stroke-dasharray: 1000;

  }
}



.typewriter {
  font-family: 'Anonymous Pro', monospace;
  width: 70%;  
}
.typewriter h1 {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
}

.apresentacao h1:after{
 content: '';
  display: inline-block;
  background-color: white;
  margin-left: 2px;
  height: 35px;
  width: 4px;
  animation: cursor .6s infinite;
}

/* The typewriter cursor effect */
@keyframes cursor {
  0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

/* ------------------ */
.sobre-fora{
  background-color: #121212;
}
.sobre{
  width: var(--tamanho);
  margin: auto;
  color: #fff;
  background-color: #121212;
  padding: 70px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sobre-left{
  background-color: #0C0C0C;
  width: 25%;
  border-left: 4px solid rgba(54,255,0,0.7035189075630253);
  border-radius: 50%;
}

.sobre-right{
  display: flex;
  flex-direction: column;
  width: 35%;
}
.sobre-right h1{
  font-weight: 600;
  font-size: 24px;
}
.sobre h2{
  font-weight: 500;
  font-size: 20px;

  margin: 20px 0;
}
.sobre p{
  font-weight: 300;
  font-size: 18px;
  color: #C4C4C4;
  text-align: justify;
}
.sobre img{
  width: 100%;
}
/* --------------- */
/* Experiencia */
.experiencia{
  color: #ffff;
  justify-content: space-around;
  padding: 70px 0;
}
.experiencia h1{
  margin-bottom: 20px;
  margin-left: 60px;
  font-weight: 600;
  font-size: 24px;
}
.exp-dentro{
  width: var(--tamanho2);
  display: flex;
  margin: auto;
}
.list-exp{
  margin-top: 10px;
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  margin-right: 35px;

  transition: 1s;
}

.list-exp li{
  padding: 15px;
  transition: .2s;
  transition-timing-function: linear;
  cursor: pointer;
}
.bordas-none{
  border-left: 4px solid #151515;
}
.bordas{
  border-left: 4px solid rgba(54,255,0,0.7035189075630253);
  background-color: #151515;
}
#l6{ 
  display: none;
}

/* -------------------- */
.exp-right{
  margin-left: 30px;
  width: 70%;
}
.exp-right h1{
  margin-left: 0;
  font-weight: 500;
  font-size: 24px;
  margin-top: 10px;
}
.titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data{
  font-size: 16px;
  line-height: 24px;
}
.local{
  font-size: 16px;
  line-height: 24px;
  color: rgba(54,255,0,0.7035189075630253);
  margin: 20px 0;
}
.funcao{
  font-weight: 300;
  font-size: 18px;
  color: #C4C4C4;
}

/* ------------- */
/* Projetos */
.projetos-fora{
  background-color: #151515;
}
.projetos{
  color: #fff;
  width: var(--tamanho2);
  margin: auto;
  background-color: #151515;
  padding: 70px 0;
}
.projetos h1{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;

}
.list-projetos{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list-projetos h1{
  margin: 20px 0;
}
.list-projetos p{
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  color: #C4C4C4;
  
}.list-projetos a{
  font-weight: 500;
  font-size: 14px;

  color: rgba(54,255,0,0.7035189075630253);
  text-decoration: none;
}
.list-projetos li{
  position: relative;
  width: 40%;
  height: 100%;
  overflow: hidden;

  margin-bottom: 40px;
  padding: 20px;
  border-left: 2px solid transparent;

  transition: .3s;
}
.list-projetos li:hover{
  background-color: #0C0C0C;
  border-left: 2px solid rgba(54,255,0,0.7035189075630253);
  border-radius: 20px;


  box-shadow: 16px -16px rgba(54,255,0,0.7035189075630253);
}

.descricao{
  padding: 20px;
}


.img-projetos{
  border-left: 4px solid rgba(54,255,0,0.7035189075630253);
  border-radius: 10px;
  height: 200px;
  background-size: cover;

}
/* ---------------------------- */
.img-projetos1{
  background-image: url("/imgs/projetos/feliznatal.png");
}
.img-projetos2{
  background-image: url("/imgs/projetos/jordanshoes.png");
}
.img-projetos3{
  background-image: url("/imgs/projetos/kenai.png");
}
.img-projetos4{
  background-image: url("/imgs/projetos/onePage.png");
}
.img-projetos5{
  background-image: url("/imgs/projetos/portifolio.png");
}
.img-projetos6{
  background-image: url("/imgs/projetos/rachi.png");
}



/* ----------------------------- */
.botao{
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;

  color: rgba(54,255,0,0.7035189075630253);
  text-decoration: none;
  border: none;
  background-color: transparent;
  margin-bottom: 25px;
}
.links{
  background-color: #151515;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 16px;
  color: #ffff;
  border: 2px solid #fff;
  padding: 7px 19px;
  border-radius: 5px;
  cursor: pointer;
}
.links img{
  margin-right: 10px;
}
/* cards */
.card{
  position: absolute;
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: #0C0C0C;
  transition: .4s;

  transform: translateY(calc(100% + 20px));
}
.fechar{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}
.fechar div{
  width: 30px;
  height: 3px;
  margin: 2px;
  background-color: #ffff;
}
.line1{
  transform: rotate(-45deg) translate(-8px, 8px);
}
.line2{
  opacity: 0;
}
.line3{
  transform: rotate(45deg) translate(-2px, -1px);
}

.aaa{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aaa img{
  margin: 20px;
}

.cardFechar{
  transform: translateY(0);
}

/* Footer */
footer{
  width: var(--tamanho2);
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #C4C4C4;

  font-weight: 400;
  font-size: 16px;
  padding: 40px 0;
}

span{
  color: rgba(54,255,0,0.7035189075630253);
}

/* -------------------------------------------------------- */
/* Animação */

[data-anime] {
  opacity: 0;
  transition: .8s;  
}
[data-anime = "left"] {
  transform: translate3d(-50px, 0, 0);
}
[data-anime = "right"] {
  transform: translate3d(50px, 0, 0);
}
[data-anime = "top"] {
  transform: translate3d(0,-50px, 0);
}
[data-anime = "bottom"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0,0,0);
}



@media screen and (max-width:767px) {
  header{
    z-index: 99999;
    position: fixed;
    width: 100%;
    padding: 0 20px;
  }

  .apresentacao{
    flex-direction: column;
  }
  .preencher{
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    z-index: 5;
    display: none;
  }
  .navegacao{

    flex-direction: column;
    text-align: center;
    background-color: #000000f1;
    position: fixed;
    top: 49px;
    right: 0;
    height: 100%;
    width: 70%;

    z-index: 9999;
    transform: translateX(100%);

    transition: .4s;
  }
  .active{
    transform: translateX(0);
  }
  #menu-mobile{
    display: block;
    padding: 10px 0;
  }
  #menu-mobile div{
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 10px;

    transition: .5s;
  }


  /* Efeito Menu Moblie */
  /* -------------------------- */
  #line1.ativar{
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  #line2.ativar2{
    opacity: 0;
  }
  #line3.ativar3{
    transform: rotate(45deg) translate(-3px, -4px);
  }

  .apres-left{
    width:var(--tamanho);
    padding-left: 0;
    margin-top: 150px;
    padding-bottom: 100px;
  }
  .apres-right{
    top: 0;
    position: absolute;
  }
  .social{
    flex-wrap: wrap;
  }
  .sobre{
    flex-direction: column;
  }
  .sobre div{
    width: 100%;
  }
  .sobre-left{
    margin: auto;
    text-align: center;
  }
  .sobre-left img{
    width: 70%;
  }
  .sobre-right h1{
    margin-top: 20px;
  }

  /* ------------ */
  .exp-left{
    overflow: auto;
  }
  .exp-dentro{
    flex-direction: column;
    width: 85%;
  }
  .experiencia h1{
    margin-left: 20px;
  }
  .list-exp{
    display: inline-flex;
    margin: 0;
  }
  .list-exp li{
    padding: 20px;
    width: 200px;
    text-align: justify;
    border-left: none;
    text-align: center;
    }
  .bordas{
    border-left: none;
    border-bottom: 4px solid rgba(54,255,0,0.7035189075630253);
    background-color: #151515;
  }
  
  .exp-right{
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .titulo{
    flex-direction: column;
  }
  .titulo h1{
    margin: 0;
  }
  .funcao{
    text-align: center;
  }
  /* projetos------------ */
  .projetos{
    width: 90%
  }
  .list-projetos{
    flex-direction: column;
  }
  .list-projetos li{
    width: calc(100% - 2px);
  }
  /* ------------------ */
  .descricao{
    text-align: justify;
  }


  /* footer */
  /* ----------------------------- */
  footer{
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

}